# Run echo $(id -u):$(id -g) to find out
MINIO_USER=12345:12345
# MINIO_ROOT_USER length should be at least 3 characters.
MINIO_ROOT_USER=
# MINIO_ROOT_PASSWORD length should be at least 8 characters.
MINIO_ROOT_PASSWORD=
